@import "bootstrap";

@import "variables";
@import "block/main-header";
@import "block/main-nav";
@import "block/social";
@import "page/page";

@import "block/slider";
@import "block/gallery";
@import "block/modal";

@import "block/slogan";
@import "block/btn";
@import "block/services";
@import "block/title";
@import "block/about-company";
@import "block/director";
@import "block/team";
@import "block/member";
@import "block/article";
@import "block/reviews";
@import "block/signup";
@import "block/main-footer";
@import "page/stock";
@import "page/info";
@import "page/team-page";
@import "page/contact";

main {
  position: relative;
  top: -31px;

  @media (min-width: 992px) {
    top: 0;
    margin-top: 15px;
  }
}

button:focus {
  outline: none;
}

.body__menu-open {
  overflow: hidden;
}