$font-family-sans-serif: 'Muller';

$font-color-aqua: #1bbfba;
$font-color-black: #393939;
$font-color-grey: #64686e;
$font-color-red: #e2294c;

$border-color-aqua: #1bbfba;
$border-color-gray: #949494;

$bg-color-aqua: #c9f9f8;
$bg-color-gray: #fafafa;

$color-hover-aqua: #1bbfba;
