.stock__header {
  margin-bottom: 20px;
  background-image: url("/img/bg-stock-header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 107px;
  display: flex;

  h1 {
    margin: auto;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.4);
    color: white;
  }
}

.stock__link {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: $font-color-aqua;
  text-decoration: underline;
  text-align: center;
}

.stock__system-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stock__system-item {
  margin-bottom: 30px;
  min-height: 100px;
  padding-left: 105px;
  background-repeat: no-repeat;
  background-position: left center;

  &--family {
    background-image: url("/img/stock-family.png");
  }

  &--5 {
    background-image: url("/img/stock-5.png");
  }

  &--10 {
    background-image: url("/img/stock-10.png");
  }

  &--happy {
    background-image: url("/img/stock-happy.png");
  }

  &--invalid {
    background-image: url("/img/stock-invalid.png");
  }

  &--hygiene {
    background-image: url("/img/stock-hygiene.png");
  }

  &--prof {
    background-image: url("/img/stock-prof.png");
  }

  &--social {
    background-image: url("/img/stock-social.png");
  }

  h3 {
    margin-bottom: 16px;
    font-size: 16px;
    color: $font-color-red;
  }

  p {
    font-size: 11px;
    font-weight: 300;
    color: $font-color-grey;
  }
}

.stock__btn {
  position: relative;
  font-size: 12px;
  text-transform: none;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 59%;
    right: 10px;
    transform: translateY(-50%) rotate(135deg);
    width: 7px;
    height: 7px;
    border: 2px solid white;
    border-right: none;
    border-top: none;
  }
}

.stock__btn.collapsed::after {
  top: 45%;
  transform: translateY(-50%) rotate(-45deg);
}

.stock__more {
  margin: 15px 0;
  font-size: 11px;
  font-weight: 300;
  color: $font-color-grey;
}

.stock__wrapper {
  padding-top: 70px;
  padding-bottom: 85px;
  background-image: url("/img/bg-stock-mobile.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

.stock__title-header {
  margin-bottom: 30px;
  text-align: center;
}

.stock__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stock__item {
  margin-bottom: 25px;

  img {
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h3 {
    font-size: 14px;
    color: $font-color-grey;

    &::before {
      margin-bottom: 12px;
      display: block;
      content: '';
      width: 43px;
      height: 4px;
      border-radius: 2px;
      background-color: #acacac;
    }
  }
}

.stock__note {
  font-size: 11px;
  font-weight: 300;
  color: $font-color-grey;
  text-align: center;
}

.stock__signup .signup__form-wrapper {
  top: -40px;
  position: relative;
}

@media (min-width: 992px) {
  .stock__header {
    margin-bottom: 30px;
    background-image: url("/img/bg-stock-header.jpg");
    background-position: center;
    height: 135px;

    h1 {
      margin: auto;
      font-size: 24px;
    }
  }

  .stock__system .stock__link {
    display: none;
  }

  .stock__system-list {
    display: flex;
    flex-wrap: wrap;
  }

  .stock__system-item {
    padding-top: 12px;
    padding-right: 60px;
    width: 50%;
    background-position: top left;

    h3 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .stock__wrapper {
    background: url("/img/bg-stock-left.jpg") no-repeat left center, url("/img/bg-stock-right.jpg") no-repeat right center;
  }

  .stock__btn {
    margin-bottom: 30px;
    font-size: 18px;

    &::after {
      width: 10px;
      height: 10px;
      right: 30px;
      top: 53%;
    }
  }

  .stock__more p {
    font-size: 12px;
    text-align: center;
  }

  .stock__list {
    display: flex;
    justify-content: space-between;
  }

  .stock__item {
    width: 270px;

    h3 {
      font-size: 16px;
    }

    .stock__image-wrapper {
      margin-bottom: 25px;
      height: 385px;
    }
  }

  .stock__note {
    font-size: 12px;
  }

  .stock__signup .signup__form-wrapper {
    top: -70px;
  }
}
