.articles {
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles__header {
  margin-bottom: 30px;
  text-align: center;
}

.articles__item {
  margin: 0 auto;
  width: 235px;
}

.articles__image-wrapper {
  height: 230px;
  margin-bottom: 10px;
}

.articles__item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articles__item h3 {
  margin-bottom: 20px;
  font-size: 12px;
  color: $font-color-grey;

  &:hover {
    color: $color-hover-aqua;
  }

  &::before {
    margin-bottom: 10px;
    display: block;
    content: '';
    width: 43px;
    height: 5px;
    background-color: #acacac;
    border-radius: 2px;
  }
}

.articles__item a {
  text-decoration: none;
}

.article__btn {
  display: inline-block;
}

@media (min-width: 992px) {
  .articles {
    padding-top: 140px;
    padding-bottom: 225px;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      background: url("/img/article-illustration.png") no-repeat bottom center;
      background-size: cover;
  }

    .articles__header {
        width: 100%;
    }

    .articles__list-wrapper {
        margin-bottom: 115px;
    }

    .articles__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        &--page {
            justify-content: flex-start;
        }
  }

  .articles__item {
    width: 350px;
    margin: 0;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .articles__image-wrapper {
    margin-bottom: 28px;
    height: 370px;
  }

  .articles__item h3 {
    font-size: 18px;

    &::before {
      margin-bottom: 15px;
      width: 69px;
      height: 6px;
      border-radius: 3px;
    }
  }
}
