.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 25px;
  padding-top: 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #e2294c;
  border-radius: 17px;
  border-color: transparent;
  box-shadow: 0 4px 10px rgba(226, 41, 76, 0.4);

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }

  &--aqua {
    background-color: #1bbfba;
    box-shadow: 0 4px 10px rgba(27, 191, 186, 0.4);
  }
}

.btn__whatsapp {
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url("/img/whatsapp.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.btn__service {
  padding: 3px 18px;
  background-color: $border-color-aqua;
  font-size: 13px;
  color: white;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.5);
  }
}

.btn__price {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  display: inline-block;
  color: white !important;
}

.btn__up {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: $font-color-aqua;
}

.btn__wrapper {
  text-align: center;
}

@media (min-width: 992px) {
  .btn {
    padding: 20px 60px;
    font-size: 16px;
    border-radius: 30px;
  }
}