.reviews {
    padding-bottom: 123px;
    position: relative;
    margin-bottom: 100px;
    background-image: url("/img/bg-reviews.png");
    background-repeat: no-repeat;
    background-position: 30% bottom;
}

.reviews__wrapper {
    padding: 30px 15px;
    background-color: #1bbfba;

    &-bottom {
        padding: 0 15px;
        padding-bottom: 25px;
        //background-image: url("/img/bg-reviews-mobile.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: #1bbfba;
        text-align: center;
    }
}

.reviews__header {
    display: none;
    text-align: center;
}

.reviews__text {
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 300;
}

.reviews__author {
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    color: $font-color-grey;
}

.reviews__rating {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    color: white;

    li {
        margin-right: 5px;
    }
}

.reviews__link {
    display: block;
    font-size: 12px;
    color: white;
    text-decoration: underline;

    &:hover {
        color: $font-color-grey;
    }
}

.reviews__video {
    /* text-align: center;
     margin-bottom: 45px;*/
}

.reviews__video iframe {
    border-radius: 10px;
    width: 290px;
    height: 191px;
}

.reviews__btn {
    position: absolute;
    bottom: 76px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 992px) {
    .reviews {
        padding-bottom: 123px;
        position: relative;
        margin-bottom: 160px;
        background-image: url("/img/bg-reviews.png");
        background-repeat: no-repeat;
        background-position: 30% bottom;
    }

    .reviews__bg {
        display: flex;
        justify-content: center;
        background-color: #00c0bb;
    }


    .reviews__header {
        display: block;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .reviews__wrapper {
        max-width: 680px;
        padding-bottom: 50px;
        width: 40%;
        background-color: #1bbfba;

        &-bottom {
            padding: 0;
            padding-top: 30px;
            width: 50%;
            max-width: 680px;
            background-image: none;
            background-color: #1bbfba;
            z-index: 9;
        }
    }

    .reviews__text {
        font-size: 14px;
    }

    .reviews__author {
        font-size: 14px;
    }

    .reviews__btn {
        position: absolute;
        bottom: -90px;
        left: 50%;
        transform: translateX(-50%);
    }

    .reviews__video {
        display: flex;
        justify-content: flex-end;
        padding-top: 28px;
        width: 520px;
        height: 300px;
        background-image: url("/img/bg-illustration-review.png");
        background-repeat: no-repeat;
        background-position: left top;
    }

    .reviews__video iframe {
        width: 480px;
        height: 270px;
    }

    .reviews__link {
        font-size: 14px;
    }

    .reviews__illustration {
        position: absolute;
        top: 0;
        width: 284px;
        height: 478px;
    }

    .reviews__bottom-illustration {
        height: 123px;
        background-image: url("/img/bg-reviews.png");
        background-repeat: no-repeat;
        background-position: center bottom;
    }
}

@media (min-width: 1366px) {
    .reviews__video {
        width: 674px;
        height: 450px;
    }

    .reviews__video iframe {
        width: 620px;
        height: 346px;
    }
}
