.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.social__item {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
    display: flex;
    font-size: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #d8e1e2;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
        color: white;
        background-color: $color-hover-aqua;
    }

    & i {
        margin: auto;
        display: inline-block;
        color: white;
        font-size: 18px;
        line-height: 18px;
    }
}

.social__list--grey .social__link {
  background-color: #6c6e73;

  &:hover {
      color: white;
      background-color: #1bbfba;
  }
}

@media (min-width: 992px) {
  .social__link {
    width: 36px;
    height: 36px;
  }
}

